[Unit]
Description=This service runs Kwola on a regular basis.
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
ExecStart=/usr/bin/run_kwola
User=kwola
Group=kwola
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
